.menu {
  z-index: 2;
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  visibility: hidden;
  grid-template-columns: 1fr 1fr;
  .menu-brand,
  .menu-items {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #333, $alpha: 0.5);
  }

  .menu-brand {
    transform: translate3d(0, 100%, 0);
    @include easeout;
    img {
      max-width: 200px;
      height: auto;
      border-radius: 50%;
      border: 2px solid $secondary;
    }
  }
  .menu-items {
    a {
      padding: 10px;
      &:hover {
        color: $secondary;
      }
    }
    transform: translate3d(0, -100%, 0);
    @include easeout;
    .menu-item {
      font-size: 30px;
      transform: translate3d(10%, 0%, 0);
      @include easeout;
      &.active {
        color: $secondary;
      }
    }
  }
  &.show {
    visibility: visible;
    .menu-brand {
      &.show {
        transform: translate3d(0, 0%, 0);
        @include easeout;
      }
    }
    .menu-items {
      &.show {
        transform: translate3d(0, 0%, 0);
        @include easeout;

        .menu-item {
          transform: translate3d(-10%, 0%, 0);
          @include easeout;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .menu {
    &.show {
      grid-template-columns: 1fr;
      .menu-brand,
      .menu-items {
        height: 50vh;
      }
    }
  }
}
