.menu {
  z-index: 2;
  display: flex;
  flex-direction: row;
  position: absolute;
  visibility: hidden;
  .menu-brand,
  .menu-items {
    display: flex;
    flex-flow: column wrap;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(102, 119, 136, 0.308);
  }
  .menu-brand {
    img {
      max-width: 200px;
      height: auto;
      border-radius: 50%;
      border: 2px solid $secondary;
    }
  }
}
