@import "main";
@import "menu";
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: $txtc;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0;
}
body {
  margin: 0 0 0 0;
  background: $primary;
  color: $txtc;
  overflow: hidden;

  .nav-btn {
    z-index: 3;
    position: absolute;

    top: 10px;
    right: 15px;
    padding: 3px;

    cursor: pointer;
    .btn-line {
      width: 28px;
      height: 2.4px;
      background-color: $txtc;
      margin: 0 0 4px 0;
    }
  }

  .main {
    margin-top: 20vh;
    margin-left: 10vw;
    position: absolute;
    z-index: -1;
    .title {
      font-size: 4rem;

      .sub-title {
        color: $secondary;
        padding: 3px;
        background-color: opacify($color: $primary, $amount: 0.9);
      }
    }

    .social-menu {
      a {
        margin-right: 0.5rem;

        &:hover {
          color: $secondary;
          @include easeout;
        }
      }
    }
  }
}
